nav {
    padding-right: 0;
}

.navbar-brand{
    padding-left: 300px;
    margin-right: 150px;
}

.navbar{
    background-color: transparent;
    z-index: 100;
    transition: background-color 1s ease 0s;
    -webkit-transition: background-color 1s ease 0s;
}

.navbar--hidden {
    background-color: rgb(255,233,233);
  }

a{
    color: #444;
}

.modal-content {
    background-color: rgb(245,245,245);
}


/* .btn-success {
    width: 150px;
    background-color: #FFCE06;
    border-color: transparent;
}

.btn-success:hover{
    width: 150px;
    background-color: rgb(221, 177, 0);
    border-color: transparent;
}

.btn-success:focus{
    outline: none;
    box-shadow: none;
}

.btn{
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
} */

/* .btn-success:active {
    outline: #FFCEFF;
    box-shadow: #FFCEFF ;
} */
